@page
@model Service.Host.Pages.Products.SaCoreTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Core Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SaCoreType.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaCoreType.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaCoreType.DateInvalid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaCoreType.DateInvalid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaCoreType.InsertType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaCoreType.InsertType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaCoreType.TriggerLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaCoreType.TriggerLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaCoreType.LookaheadDays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaCoreType.LookaheadDays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaCoreType.SortOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaCoreType.SortOrder)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SaCoreType.CoreType">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
