@page
@model Linn.LinnappsUi.Service.Host.Pages.Products.SalesArticles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details of  @Html.DisplayTextFor(a => a.SalesArticle.ArticleNumber)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Invoice Description
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesArticle.InvoiceDescription)
        </dd>
        <dt>
            Type Of Sale
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesArticle.TypeOfSale)
        </dd>
        <dt>
            Ean Code
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesArticle.EanCode)
        </dd>
        <dt>
            Packing Description
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesArticle.PackingDescription)
        </dd>
        <dt>
            Discount Family
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesArticle.SaDiscountFamily)
        </dd>
        <dt>
            Phased In
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesArticle.PhaseInDate)
        </dd>
        <dt>
            Phased Out
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesArticle.PhaseOutDate)
        </dd>
        <dt>
            Carton Type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesArticle.CartonType)
        </dd>
        <dt>
            Core Type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesArticle.SaCoreType.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditCoreType" asp-route-id="@Model.SalesArticle.ArticleNumber">Change Core Type</a> |
    <a asp-page="./Index">Sales Article Home</a>
</div>
